export EC2_PRIVATE_KEY=$HOME/Documents/ec2/pk-<stuff>.pem
export EC2_CERT=$HOME/Documents/ec2/cert-<stuff>.pem
export AWS_ACCESS_KEY_ID=<AWS access key ID>
export AWS_SECRET_ACCESS_KEY=<AWS secret key>
export AWS_KEY_PAIR=<AWS key pair>
export AWS_SSH_KEY=<AWS .pem key>
export HOMEBREW_GITHUB_API_TOKEN=<gh api token>
alias pr='pivotal_report -t <pivotal token> -p <project id>'
